<nav class="ps-5 pe-5 pt-3 pb-3 d-flex justify-content-between align-items-center ">
    <h1 class="text-dark">WebNews - Panel Administrativo</h1>
    <app-button [inputTexto]="'Noticias'" [inputTipo]="'outline'" [inputRuta]="'/admin/panel'"></app-button>
    <app-button [inputTexto]="'Categorias'" [inputTipo]="'outline'" [inputRuta]="'/admin/categorias'"></app-button>
    <app-button [inputTexto]="'Estados'" [inputTipo]="'outline'" [inputRuta]="'/admin/estados'"></app-button>
    <app-button [inputTexto]="'Usuarios'" [inputTipo]="'outline'" [inputRuta]="'/admin/usuarios'"></app-button>
</nav>