<div class=" mt-4">
    <div class="card">
        <img class="card-img-top" [src]="inputImagen">
        <div class="card-block">
            <h4 class="card-title">{{inputTitulo}}</h4>
            <div class="meta">
                <a href="#">{{inputCategoria}}</a>
            </div>
            <div class="card-text text-truncate">
                {{inputDescripcion}}
            </div>
        </div>
        <div class="card-footer">
            <span class="float-right">{{inputFecha}}</span>
        </div>
    </div>
</div>